<div class="container-fluid">

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <label for="">username</label>
        <input type="text" ng-model="username" name="name" value="">
      </div>
      <div class="row">
        <label for="">Password</label>
        <input type="text" ng-model="password" name="name" value="">
      </div>
      <div class="row">
        <button type="button" ng-click="login()" name="button"> Submit </button>
      </div>
    </div>
    <div class="col-md-9">
      <pre>
        {{ responseLogin | json}}
      </pre>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <label for="">URL</label>
        <input type="text" ng-model="url" name="name" value="">
        <button type="button" ng-click="peticion()" name="button"> Get </button>
      </div>
      <div class="row">
        <label for="">Token</label>
        <input type="text" ng-model="token" name="name" value="">
      </div>
    </div>
    <div class="col-md-9">
      <pre>
        <p>{{response | json}}</p>
      </pre>
    </div>
  </div>
</div>
